@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <partial name="_HotelsSearchForm"/>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">fafadsfas</div>
        <div class="col-sm-1"></div>
    </div>
</div>