@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <partial name="_HotelsSearchForm"/>
        </div>
        <div class="col-sm-7"></div>
    </div>
</div>