<div class="container my-5">
    <h1 class="text-center">Privacy Policy</h1>
    <hr>
    <p class="mb-5">
        Balterion is committed to protecting your privacy and providing you with a safe and secure online experience. This Privacy Policy applies to all information collected on our website and explains how we collect, use, and protect your personal information. By using our website, you consent to the collection and use of your personal information in accordance with this Privacy Policy.
    </p>
    <p>
        <h5 class="text-center font-weight-800 m-0 text-black">Information We Collect</h5>
        <br>
        We may collect personal information from you, such as your name, email address, mailing address, telephone number, credit card information, and any other information you provide to us. We may also collect non-personal information, such as your IP address, browser type, and the pages you visit on our website.
    </p>
    <p class="mb-5">
        <h5 class="text-center font-weight-800 m-0 text-black">Use of Your Information</h5>
        <br>
        We use the information we collect from you to provide you with the services you request, such as booking a hotel room. We may also use your information to communicate with you, such as sending you confirmation emails or promotional offers. We may also use your information to improve our website and enhance your experience.
    </p>
    <p class="mb-5">
        <h5 class="text-center font-weight-800 m-0 text-black">Sharing of Your Information</h5>
        <br>
        We may share your information with third-party service providers that help us operate our website or conduct business, such as processing credit card transactions or sending emails. These third-party service providers are prohibited from using your personal information for any purpose other than to provide the services we requested. We may also disclose your information as required by law or to protect the rights and safety of our website and users.
    </p>
    <p class="mb-5">
        <h5 class="text-center font-weight-800 m-0 text-black">Security of Your Information</h5>
        <br>
        We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or method of electronic storage is 100% secure. Therefore, we cannot guarantee the absolute security of your information.
    </p>
    <p class="mb-5">
        <h5 class="text-center font-weight-800 m-0 text-black">Changes to This Privacy Policy</h5>
        <br>
        We reserve the right to make changes to this Privacy Policy at any time. We will notify you of any changes by posting the new Privacy Policy on our website. Your continued use of our website following any changes to this Privacy Policy will indicate your acceptance of such changes.
    </p>
</div>