<div class="container">
        <div class="m-4">
            <h1 class="text-center">Terms and Conditions</h1>
            <hr>
            <p class="my-4">
                By accessing or using our service, you agree to be bound by the following terms and conditions ("Terms"). If you do not agree to these terms, you may not use our service.
            </p>
            <p class="my-4">
                1. Use of Service. You may use our service only for lawful purposes and in accordance with these terms. You may not use our service: (a) in any way that violates any applicable federal, state, local, or international law or regulation, (b) for the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information, or otherwise, (c) to transmit, or procure the sending of, any advertising or promotional material, including any "junk mail," "chain letter," "spam," or any other similar solicitation, (d) to impersonate or attempt to impersonate our company, a our employee, another user, or any other person or entity, (e) in any way that infringes upon the rights of others, or (f) to engage in any other conduct that restricts or inhibits anyone's use or enjoyment of our service, or which, as determined by us, may harm our company or users of our service or expose them to liability.
            </p>
            <p class="my-4">
                2. User Content. Our service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through our service, including its legality, reliability, and appropriateness. By posting Content on or through our service, you represent and warrant that: (a) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these terms, and (b) that the posting of your Content on or through our service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.
            </p>
            <p class="my-4">
                3. Account Termination Policy. We will terminate a user's access to the service if, under appropriate circumstances, the user is determined to be a repeat infringer. We also reserve the right to decide whether Content violates these terms for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. We may at any time, without prior notice and at our sole discretion, remove such Content and/or terminate a user's account for submitting such material in violation of these terms.
            </p>
        </div>
</div>