@model HotelReservations.ViewModels.ReservationQueryViewModel

<div class="search-form">
    <form method="post" class="mb-3 p-3 rounded bg-secondary" id="form">
        <div class="input-group mb-3 col-12">
            <span class="input-group-text">Choose destination</span>
            <input type="text" class="form-control" asp-for="Destination" id="destination">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Choose date from</span>
            <input type="date" asp-for="DateFrom" class="form-control"
                   min="@DateTime.Now.ToString("yyyy-MM-dd")" id="dateFrom">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Choose date to</span>
            <input type="date" asp-for="DateTo"
                   min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"
                   class="form-control" id="dateTo">
        </div>
        <button type="submit" class="col-12 btn btn-primary">Submit</button>
    </form>
</div>
