<div class="card my-5" style="width: 18rem;">
  <img class="card-img-top" src="~/img/no-image.png" alt="Image of a member">
  <div class="card-body bg-secondary text-light">
    <h5 class="card-title mb-3">Name</h5>
    <h6 class="card-subtitle mb-2">Role</h6>
    <p class="card-text">Explain the role.</p>
    <a href="mailto:viktorivanov_e18@schoolmath.eu" class="btn btn-warning">Send email</a>
  </div>
</div>
