@model HotelReservations.Helpers.PaginationProperties

@{
    var queryParameters = (Dictionary<string, string>) ViewData["QueryParameters"]!;
}

@if (Model.PreviousPage != 0)
{
    var parameters = queryParameters;
    parameters["Page"] = Model.PreviousPage.ToString();
    <a asp-all-route-data="parameters">Prev</a>
}
@for (int i = Model.PageSpanStart; i <= Model.PageSpanEnd; i++)
{
    if (Model.CurrentPage == i)
    {
        <a>@Model.CurrentPage</a>
    }
    else
    {
        var parameters = queryParameters;
        parameters["Page"] = i.ToString();
        <a asp-all-route-data="parameters">@i</a>
    }
}
@if (Model.NextPage != 0)
{
    var parameters = queryParameters;
    parameters["Page"] = Model.NextPage.ToString();

    <a asp-all-route-data="parameters">Next</a>
}