<div>
    <h5>Room info:</h5>
    <div>
        @*room capacity*@
        <span for="RC">RC:</span>
        @*print room capacity*@
        <span>2</span>
        @*adult bed price*@
        <label for="ABP"> | ABP:</label>
        @*print adult bed price*@
        <span>2</span>
        @*kid bed price*@
        <label for="KBP"> | KBP:</label>
        @*print kid bed price*@
        <span>2</span>
        @*room type*@
        <label for="RT"> | RT:</label>
        @*print room type*@
        <span>Apartment</span>
        @*room number*@
        <label for="RN"> | RN:</label>
        @*print room number*@
        <span>103</span>
        @*room availability*@
        <label for="RA"> | RA:</label>
        @*print room availability*@
        <span>Y</span>
    </div>
</div>