@model HotelReservations.Models.CreateRoomModel

@using HotelReservations.Data.Entities.Enums

<div class="row overflow-x-hidden">
    <div class="col-lg-4 p-0"></div>
    <div class="col-lg-4 p-0">
        <div class="container">
            <h2 class="text-center my-4">Create room</h2>
            <form method="post" asp-controller="Manager" asp-action="CreateRoom">
                <div class="form-group my-3">
                    <label for="roomCapacity">Room Capacity:</label>
                    <input asp-for="Capacity" type="number" id="roomCapacity" class="form-control" min="0" max="10" placeholder="Enter room capacity" />
                </div>
                <div class="form-group my-3">
                    <label for="adultBedPrice">Adult Bed Price:</label>
                    <input asp-for="AdultBedPrice" type="number" id="adultBedPrice" class="form-control" min="0" placeholder="Enter price for an adult" />
                </div>
                <div class="form-group my-3">
                    <label for="kidBedPrice">Kid Bed Price:</label>
                    <input asp-for="KidBedPrice" type="number" id="kidBedPrice" class="form-control" min="0" placeholder="Enter price for a kid" />
                </div>

                <div class="form-group my-3">
                    <label for="roomType">Room type:</label>
                    <select asp-for="Type" class="form-control">
                        @foreach (var val in Enum.GetValues(typeof(RoomTypeEnum)))
                        {
                            <option value="@val.ToString()">@val.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group my-3">
                    <label for="roomNumber">Room number:</label>
                    <input asp-for="Number" type="number" id="roomNumber" min="100" class="form-control" />
                </div>
                <div class="form-group my-3">
                    <label for="hotelId">Hotel:</label>
                    <select asp-for="HotelId" class="form-control">
                        @foreach (var kirech in Model.CurrentUserHotels)
                        {
                            <option value="@kirech.Id">@kirech.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group my-3">
                    <input type="submit" class="btn btn-primary form-control" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4 p-0"></div>
</div>
