@model HotelReservations.Models.CreateHotelModel

<div class="row overflow-x-hidden">
    <div class="col-lg-4 p-0"></div>
    <div class="col-lg-4 p-0">
        <div class="container">
            <h2 class="text-center my-4">Create hotel</h2>
            <form method="post" enctype="multipart/form-data" asp-controller="Manager" asp-action="CreateHotel">
                <div class="form-group my-3">
                    <label for="hotelName">Hotel Name:</label>
                    <input asp-for="Name" type="text" id="hotelName" class="form-control" placeholder="Enter hotel name"/>
                </div>
                <div class="form-group my-3">
                    <label for="hotelDescription">Hotel Description:</label>
                    <input asp-for="Description" type="text" id="hotelDescription" class="form-control" placeholder="Enter hotel description"/>
                </div>
                <div class="form-group my-3">
                    <label for="hotelLocation">Hotel Location:</label>
                    <input asp-for="Location" type="text" id="hotelLocation" class="form-control" placeholder="Enter hotel location"/>
                </div>
                <div class="form-group my-3">
                    <label for="hotelImage">Hotel Image:</label>
                    <input asp-for="Image" accept="image/*" type="file" id="hotelImage" class="form-control"/>
                </div>
                @* <div id="createRoomContainer" class="my-5" style="overflow-x:hidden;"> *@
                @* </div> *@
                @* <div class="form-group my-3"> *@
                @*     <label for="addRoomButton">Add Hotel Rooms:</label> *@
                @*     <button class="btn btn-secondary px-2 py-1" id="addRoomButton">+</button> *@
                @* </div> *@
                <div class="form-group my-3">
                    <button class="form-control btn btn-primary px-2 py-1" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4 p-0"></div>
</div>

@* <script> *@
@* let roomI = 0; *@
@* *@
@* $(document).ready(function() { *@
@*   $("#addRoomButton").click(function (e) { *@
@*       e.preventDefault(); *@
@*       e.stopPropagation(); *@
@*        *@
@*       $.get("/Manager/CreateRoomPartial", function (roomPartial) { *@
@*           let div = $('<div id="' + "roomPartialsDiv" + roomI + '"></div>'); *@
@*           div.append('<div></div>').append(roomPartial); *@
@*            *@
@*           $.get("/Manager/CreateRoomInfoPartial", function (infoPartial) { *@
@*                 div.append('<div></div>').append(infoPartial) *@
@*             }); *@
@*            *@
@*           $("#createRoomContainer") *@
@*           .append(div); *@
@*            *@
@*           roomI++; *@
@*       }); *@
@*     }) *@
@* }); *@
@* </script> *@